<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         colors="true"
         bootstrap="Tests/bootstrap.php"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
>
    <coverage>
        <include>
            <directory>./Adapter</directory>
            <directory>./Command</directory>
            <directory>./Currency</directory>
            <directory>./DependencyInjection</directory>
            <directory>./Entity</directory>
            <directory>./EventListener</directory>
            <directory>./Exception</directory>
            <directory>./Twig</directory>
        </include>
        <exclude>
            <directory>./Resources</directory>
            <directory>./Tests</directory>
            <directory>./vendor</directory>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="LexikCurrencyBundle Test Suite">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="ROOT_DIR" value="../../../../.."/>
    </php>
</phpunit>
